@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.banner-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  height: 195px; 
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/Banner.png');
  background-size: cover; 
  background-position: center; 
  border-radius: 20px;
  position: relative;
  z-index: 1;
  color: white;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}




.banner-component h1 {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,  
    -1px  1px 0 #000,  
     1px  1px 0 #000; 
}
